{% extends 'base.html' %}

{% block content %}

<style>
    body {  
        background-color: #f4f4f4;
        font-family: Helvetica, sans-serif;
    }

    h1 {
        color: #160323;
        font-size: 36px;
    }

    h2 {
        color: #333;
        font-size: 24px;
    }

    h4 {
        color: #555;
        font-size: 18px;
    }

    p {
        color: #777;
        font-size: 16px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table, th, td {
        border: 1px solid #888888;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    table tr:last-child td {
        background-color: rgb(84, 84, 84);
        color: #ffffff;
    }

    button {
        background-color: rgb(227, 159, 0);
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: rgb(255, 198, 65);
    }

    a {
        text-decoration: none;
        color: rgb(227, 159, 0);
    }

    a:hover {
        text-decoration: underline;
    }

    .navbar {
    background-color: #313131;
    height: 4rem;
    align-content: center;
    margin-bottom: 4rem;
    }

    .navbar-button-logout {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .navbar-brand {
        font-family: 'Helvetica', sans-serif;
        font-weight: 700;
        text-align: center;
        color: rgb(255, 179, 0);
        padding-left: 1rem;
    }

</style>

<body>
    <nav class="navbar" data-bs-theme="dark">
        <div class="container-fluid">
        <a class="navbar-brand">STOCKIO</a>

        <a href="{% url 'main:logout' %}">
            <button class="btn btn-outline-success">
                Logout
            </button>
        </a>
        </div>
    </nav>

    <h4>App Name: {{ app_name }}</h4>

    <h4>Name: {{ name }}</h4>

    <h4>Class: {{ class }}</h4>

    <p>There are {{ total_products }} movies currently available</p>

    <table>
        <tr>
            <th>Movie Title</th>
            <th>Amount</th>
            <th>Synopsis</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>

                <td>
                    <form method="post" action="{% url 'main:plus_product_amount' product.id %}">
                        {% csrf_token %}
                        <button type="submit">+</button>
                    </form>
                </td>
        
                <td>
                    <form method="post" action="{% url 'main:minus_product_amount' product.id %}">
                        {% csrf_token %}
                        <button type="submit">-</button>
                    </form>
                </td>
        
                <td>
                    <form method="post" action="{% url 'main:remove_product' product.id %}">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h5>Last logged in session: {{ last_login }}</h5>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Movie
        </button>
    </a>
</body>    
    
{% endblock content %}