{% extends 'base.html' %}

{% block content %}
    <h1>STOCKIO</h1>
    <h2>Selling physical copies of movies</h2>

    <h4>App Name: {{ app_name }}</h4>

    <h4>Name: {{ name }}</h4>

    <h4>Class: {{ class }}</h4>

    <p>There are {{ total_amount }} physical copies of movies currently available</p>

    <table>
        <tr>
            <th>Movie Title</th>
            <th>Amount</th>
            <th>Synopsis</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Movie
        </button>
    </a>
    
{% endblock content %}