{% extends 'base.html' %}

{% block content %}
    <h1>STOCKIO</h1>
    <h2>Selling physical copies of movies</h2>

    <h4>App Name: {{ app_name }}</h4>

    <h4>Name: {{ name }}</h4>

    <h4>Class: {{ class }}</h4>

    <p>There are {{ total_products }} movies currently available</p>

    <table>
        <tr>
            <th>Movie Title</th>
            <th>Amount</th>
            <th>Synopsis</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>

                <td>
                    <form method="post" action="{% url 'main:plus_product_amount' product.id %}">
                        {% csrf_token %}
                        <button type="submit">+</button>
                    </form>
                </td>
        
                <td>
                    <form method="post" action="{% url 'main:minus_product_amount' product.id %}">
                        {% csrf_token %}
                        <button type="submit">-</button>
                    </form>
                </td>
        
                <td>
                    <form method="post" action="{% url 'main:remove_product' product.id %}">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h5>Last logged in session: {{ last_login }}</h5>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Movie
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    
{% endblock content %}